body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.parallax-1{
    background: url("./img1.jpeg") 100% ;
    background-size: cover;
    color:aliceblue;
}


.parallax-inner{
    padding: 10% 10%;
}

h1{
    font-size:10em;
    text-align: center;
}

p{
    margin: 50px ;
    font-size: 1.5em;
}

.parallax-2{
    background : url("./img2.jpeg") repeat fixed 100%;
    color: aliceblue;
}

.parallax-3{
    background: url("./img3.jpeg") repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
